<div class="container">
    <div class="row">
        <div class="col-md-12">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Global Summary</mat-card-title>
                    <mat-card-subtitle>Time stamp</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="info">
                                        <h3>New Confirmed</h3>
                                        <span>12345</span>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="info">
                                        <h3>Total Confirmed</h3>
                                        <span>12345</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="info">
                                        <h3>New Deaths</h3>
                                        <span>12345</span>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="info">
                                        <h3>Total Deaths</h3>
                                        <span>12345</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="info">
                                        <h3>New Recovered</h3>
                                        <span>12345</span>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="info">
                                        <h3>Total Recovered</h3>
                                        <span>12345</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>