mat-toolbar-row {
    justify-content: space-between;
}

a {
    color: #ffffff;
    font-size: 16px;
    text-decoration: none;
}

.link-text {
    display: inline;
}

@media (max-width: 576px) {
    .link-text {
        display: none;
    }
}