<ng-container *ngIf="country">
    <mat-card class="h-100">
        <div class="header">
            <h3>{{country.Country}}</h3>
            <small class="d-block">{{country.Date | date}}</small>
        </div>
        <mat-card-content>
            <ul>
                <li>New Confirmed: <span class="ml-2">{{country.NewConfirmed | intlNum}}</span></li>
                <li>Total Confirmed: <span class="ml-2">{{country.TotalConfirmed | intlNum}}</span></li>
            </ul>

            <ul>
                <li>New Deaths: <span class="ml-2">{{country.NewDeaths | intlNum}}</span></li>
                <li>Total Deaths: <span class="ml-2">{{country.TotalDeaths | intlNum}}</span></li>
            </ul>

            <ul>
                <li>New Recovered: <span class="ml-2">{{country.NewRecovered |intlNum}}</span></li>
                <li>Total Recovered: <span class="ml-2">{{country.TotalRecovered | intlNum}}</span></li>
            </ul>
        </mat-card-content>
    </mat-card>
</ng-container>